h1{
    color: limegreen;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif
}
h2{
    color: limegreen;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif
}
body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/fundo.png);
}
blockquote,q{
    font-style: italic;
}
img {
    border-style: solid;
    border-color: limegreen;
    border-width: 4px;
}
table, td,th{
    border-collapse: collapse;
    align-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    text-align: center;
}
